canvas {
  display: block;
  text-rendering: optimizeLegibility; /* Improve text rendering */
  -webkit-font-smoothing: antialiased; /* Improve text smoothing */
  }

html, body {
  margin: 0;
  padding: 0;
}
  